<h1>Rides#index</h1>
<p>Find me in app/views/rides/index.html.erb</p>

<% @rides.each do |r| %>

<h1>Ride Name: <%= r.ride_name%> </h1>
<ul><%= r[:origin]%></ul>
<ul><%= r[:destination]%></ul>
<% end%>


