<h1>Rides#index</h1>
<p>Find me in app/views/rides/index.html.erb</p>

<% @rides.each do |r| %>

<h1><%= link_to r.ride_name, ride_path(r[:id]) %> </h1>
<ul><%= r[:origin]%></ul>
<ul><%= r[:destination]%></ul>
<% end%>


